{% if page.external_url or page.fig1 %}
	
	<figure>
		
		{% if page.external_url %}
			<a href="{{ page.external_url }}"{% if page.external_site %} title="Visit {{ page.title }} on {{ page.external_site }}."{% endif %} target="_blank" rel="nofollow">
		{% else %}
			<a href="{{ site.url }}{{ page.url | remove_first: "/" }}">
		{% endif %}
			{% if page.external_image %}
				<img src="{{ page.external_image }}">
			{% else %}
				<img src="{{ site.uploads }}{{ page.fig1.image }}">
			{% endif %}
		</a>
		
	</figure>
	
{% endif %}
