{% if post.external_url or post.image1 %}
	
	<figure>
		
		{% if post.external_url %}
			<a{% if post.external_site %} title="Click to visit {{ post.external_site }}"{% endif %} href="{{ post.external_url }}" target="_blank" rel="nofollow">
		{% else %}
			<a href="{{ site.url }}{{ post.url }}">
		{% endif %}
			{% if post.external_image %}
				<img src="{{ post.external_image }}">
			{% else %}
				<img src="{{ site.uploads }}/{{ post.image1.src }}">
			{% endif %}
		</a>
		
	</figure>
	
{% endif %}
