{% if page.external_image or page.fig1 %}
	
	<figure>
		
		{% if page.external_url %}
			<a href="{{ page.external_url }}"{% if page.external_site %} title="Visit {{ page.title }} on {{ page.external_site }}."{% endif %} target="_blank" rel="nofollow">
		{% else %}
			<a class="nix" href="{{ site.url }}{{ page.url | remove_first: "/" }}">
		{% endif %}
			{% if page.external_image %}
				{% if page.external_image contains "http" %}
					<img src="{{ page.external_image }}">
				{% else %}
					<img src="{{ site.uploads }}{{ page.external_image }}">
				{% endif %}
			{% else %}
				{% if page.featured %}
					<img src="{{ site.uploads }}{{ page[page.featured]["image"] }}">
				{% else %}
					<img src="{{ site.uploads }}{{ page.fig1.image }}">
				{% endif %}
			{% endif %}
		</a>
		
	</figure>
	
{% endif %}
