<hr>

<footer role="contentinfo">
	
	<ul>
		<li><i class="fa fa-github-alt" aria-hidden="true"></i> <a href="http://github.com/mhulse" target="_blank" rel="nofollow">GitHub</a> (<a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a>, <a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a>)</li>
		<li><i class="fa fa-stack-exchange" aria-hidden="true"></i> <a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">StackExchange</a></li>
		<li><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
	</ul>
	
	<p class="boring">
		<small><span>Copyright &copy; <a href="{{ site.url }}">mky.io</a> 2013-{{ site.time | date: '%y' }}.</span> <span>All rights reserved.</span></small>
		<small class="silly"><a href="http://en.wikipedia.org/wiki/Genetically_modified_organism" target="_blank" rel="nofollow">GMO</a>-, <a href="http://en.wikipedia.org/wiki/Gluten" target="_blank" rel="nofollow">gluten</a>- and <a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a>-free. :)</small>
	</p>
	
</footer>
