<meta charset="utf-8">

<meta http-equiv="x-ua-compatible" content="chrome=1">

<meta name="viewport" content="width=device-width">

{% if page.kind %}
	<title>{{ page.kind | capitalize }}: {{ paginator.name | capitalize }} | {{ site.title }}</title>
	<meta property="og:title" content="{{ page.kind | capitalize }} | {{ paginator.name | capitalize }} | {{ site.title }}">
{% elsif page.taxonomy or page.marker %}
	<title>{{ page.taxonomy | append: page.marker | capitalize }} | {{ site.title }}</title>
	<meta property="og:title" content="{{ page.taxonomy | append: page.marker | capitalize }} | {{ site.title }}">
{% elsif page.title %}
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
{% else %}
	<title>{{ site.title }}</title>
	<meta property="og:title" content="{{ site.title }}">
{% endif %}

{% if page.kind %}
	<meta name="description" content="Entries posted in the {{ page.kind }} {{ paginator.name }}.">
	<meta property="og:description" content="Entries posted in the {{ page.kind }} {{ paginator.name }}.">
{% elsif page.marker %}
	<meta name="description" content="Welcome to the {{ page.marker }} page.">
	<meta property="og:description" content="Welcome to the {{ page.marker }} page.">
{% elsif page.taxonomy %}
	{% case page.taxonomy %}
		{% when "tags" %}
			{% assign target = "tag" %}
		{% when "categories" %}
			{% assign target = "category" %}
	{% endcase %}
	<meta name="description" content="Browse entries by {{ target }}.">
	<meta property="og:description" content="Browse entries by {{ target }}.">
{% elsif page.deck %}
	<meta name="description" content="{{ page.deck | markdownify | strip_html | strip_newlines }}">
	<meta property="og:description" content="{{ page.deck | markdownify | strip_html | strip_newlines }}">
{% else %}
	<meta name="description" content="{{ site.description }}">
	<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% capture keywords %},{{ page.categories | join: ',' }},{{ page.tags | join: ',' }},{{ site.keywords | join: ',' }}{% endcapture %}
<meta name="keywords" content="{{ keywords | replace: ",,", "," | remove_first: "," }}">

{% if page.id %}
	<meta property="og:type" content="article">
{% else %}
	<meta property="og:type" content="website">
{% endif %}

{% if page.image1 %}
	<meta property="og:image" content="{{ site.uploads }}{{ page.image1.src }}">
	<link rel="image_src" href="{{ site.uploads }}{{ page.image1.src }}">
{% else %}
	<meta property="og:image" content="{{ site.url }}apple-touch-icon-precomposed.png">
	<link rel="image_src" href="{{ site.url }}apple-touch-icon-precomposed.png">
{% endif %}

<meta property="og:site_name" content="{{ site.title }}">

{% if page.url %}
	<meta property="og:url" content="{{ site.url }}{{ page.url | remove_first: "/" | remove: 'index.html' }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url | remove_first: "/" | remove: 'index.html' }}">
{% endif %}

{% if page.date %}
	<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	<meta http-equiv="date" content="{{ page.date | date: '%A, %d %Y %H:%M:%S GMT' }}">
{% else %}
	<meta http-equiv="date" content="{{ site.time | date: '%A, %d %Y %H:%M:%S GMT' }}">
{% endif %}

{% for category in page.categories %}
	<meta property="article:section" content="{{ category }}">
{% endfor %}

{% for tag in page.tags %}
	<meta property="article:tag" content="{{ tag }}">
{% endfor %}

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="handheldfriendly" content="true">

<meta name="msapplication-tileimage" content="{{ site.url }}apple-touch-icon-precomposed.png">
<meta name="msapplication-navbutton-color" content="#13aac9">
<meta name="msapplication-tilecolor" content="#ffffff">
<meta name="msapplication-tooltip" content="{{ site.title }}">
<meta name="msapplication-starturl" content="{{ site.url }}?pinned=true">
<meta name="msapplication-tap-highlight" content="no">

{% if site.gwt %}
	<meta name="google-site-verification" content="{{ site.gwt }}">
{% endif %}

{% if site.bwt %}
	<meta name="msvalidate.01" content="{{ site.bwt }}">
{% endif %}

<!--[if !IE]><!-->
<link rel="stylesheet" href="{{ site.theme }}{{ site.build }}css/picard.min.css">
<link rel="stylesheet" href="{{ site.fonts }}hulse/hulse.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<!--<![endif]-->

<script>(function(a){a.className=a.className.replace(/\bno-js\b/,'js')}(document.documentElement))</script>

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}sitemap.xml">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}rss.xml">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.url }}atom.xml">

<meta name="robots" content="{{ page.index }}index, {{ page.follow }}follow">
