{% if page.id %}
	
	{% if page.previous.url %}
		{% if page.previous.layout == "external" %}
			<a class="jump jump-old" href="{{ page.previous.external_url }}"{% if page.previous.external_site %} title="Visit {{ page.previous.title }} on {{ page.previous.external_site }}."{% endif %} target="_blank" rel="nofollow">
		{% else %}
			<a class="jump jump-old" href="{{ site.url }}{{ page.previous.url | remove_first: '/' }}" title="Previous: {{ page.previous.title }}">
		{% endif %}
			<span>Previous</span>
			{% if page.previous.layout == "external" %}
				<i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}
	
	{% if page.next.url %}
		{% if page.next.layout == "external" %}
			<a class="jump jump-new" href="{{ page.next.external_url }}"{% if page.next.external_site %} title="Visit {{ page.next.title }} on {{ page.next.external_site }}."{% endif %} target="_blank" rel="nofollow">
		{% else %}
			<a class="jump jump-new" href="{{ site.url }}{{ page.next.url | remove_first: '/' }}" title="Next: {{ page.next.title }}">
		{% endif %}
			<span>Next</span>
			{% if page.next.layout == "external" %}
				<i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}
	
{% endif %}
