{% if paginator.total_pages > 1 %}
	
	<hr>
	
	<footer>
		
		<ul class="pager x6"
			{% if paginator.previous_page %}
				><li><a href="{{ site.url }}/{{ include.kind }}/{{ paginator.name | slugize }}{{ paginator.previous_page_path | replace: 'index.html' '' }}">Newer</a></li
			{% endif %}
			><li><span>{{ paginator.page }} / {{ paginator.total_pages }}</span></li
			{% if paginator.next_page %}
				><li><a href="{{ site.url }}/{{ include.kind }}/{{ paginator.name | slugize }}{{ paginator.next_page_path }}">Older</a></li
			{% endif %}
		></ul>
		
	</footer>
	
{% endif %}
