<aside role="complementary">
	
	<section>
		
		<h1></h1>
		
		<form id="search" class="form" method="get" action="http://www.google.com/search" role="search">
			
			<input type="hidden" name="sitesearch" value="{{ site.production.url }}">
			
			<label class="x4">
				<span class="off">Search:</span>
				<input id="bigglesworth" type="search" name="q" placeholder="&hellip; search &hellip;" autocomplete="off" data-bigglesworth-options='{ "feed" : "/search.json" }'>
			</label>
			
		</form>
		
	</section>
	
</aside>

<hr>
