{% if page.output %}
	{% assign EXCERPT = page.output | strip_html | truncatewords: 100 | trim | append: ' ...' | cgi_escape %}
{% endif %}
{% if page.image1 %}
	{% assign IMAGE = page.image1.src | prepend: site.uploads | cgi_escape %}
{% endif %}
{% assign URL = page.url | remove_first: "/" | prepend: site.url | cgi_escape %}
{% assign TITLE = page.title | cgi_escape %}
{% if page.deck %}
	{% assign DECK = page.deck | cgi_escape %}
{% endif %}

<hr>

<section>
	
	<h1></h1>
	
	<p>
		
		<a title="Tweet this" class="social social-twitter fa-stack fa-lg" href="https://twitter.com/intent/tweet?text={{ TITLE }}{% if DECK %}%20%7C%20{{ DECK }}{% endif %}{% if EXCERPT %}%20%7C%20{{ EXCERPT }}{% endif %}&amp;url={{ URL }}&amp;via={{ site.twitter | uri_escape }}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Tweet this</span>
		</a>
		
		<a title="Share on Facebook" class="social social-facebook fa-stack fa-lg" href="http://www.facebook.com/sharer/sharer.php?u={{ URL }}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Share on Facebook</span>
		</a>
		
		<a title="Plus on Google+" class="social social-google-plus fa-stack fa-lg" href="https://plus.google.com/share?url={{ URL }}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Plus on Google+</span>
		</a>
		
		<a title="Pin on Pinterest" class="social social-pinterest fa-stack fa-lg" href="http://pinterest.com/pin/create/button/?url={{ URL }}&amp;description={{ TITLE }}{% if DECK %}%20%7C%20{{ DECK }}{% endif %}{% if EXCERPT %}%20%7C%20{{ EXCERPT }}{% endif %}&amp;media={{ IMAGE }}" target="_blank" re="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Pin on Pinterest</span>
		</a>
		
		<a title="Share on LinkedIn" class="social social-linkedin fa-stack fa-lg" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ URL }}&amp;title={{ TITLE }}{% if DECK %}%20%7C%20{{ DECK }}{% endif %}{% if EXCERPT %}%20%7C%20{{ EXCERPT }}{% endif %}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Share on LinkedIn</span>
		</a>
		
		<a title="Share on VK" class="social social-vk fa-stack fa-lg" href="https://vk.com/share.php?url=YOUR-URL&amp;title={{ TITLE }}{% if DECK %}%20%7C%20{{ DECK }}{% endif %}{% if EXCERPT %}&amp;description={{ EXCERPT }}{% endif %}{% if IMAGE %}&amp;image={{ IMAGE }}{% endif %}&amp;noparse=true" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-vk fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Share on VK</span>
		</a>
		
		<a title="Share on Xing" class="social social-xing fa-stack fa-lg" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={{ URL }}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-xing fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Share on Xing</span>
		</a>
		
		<a title="Share on Tumblr" class="social social-tumblr fa-stack fa-lg" href="http://www.tumblr.com/share?v=3&amp;u={{ URL }}&amp;t={{ TITLE }}{% if DECK %}%20%7C%20{{ DECK }}{% endif %}{% if EXCERPT %}%20%7C%20{{ EXCERPT }}{% endif %}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-tumblr fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Share on Tumblr</span>
		</a>
		
		<a title="Send via e-mail" class="social social-email fa-stack fa-lg" href="mailto:{{ site.email }}?subject={{ site.title | prepend: '[' | append: ']' | append: ' Feedback' | uri_escape }}&amp;body={{ site.url | remove_first: "/" | append: page.url | cgi_escape }}" target="_blank" rel="nofollow">
			<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-envelope fa-stack-1x fa-inverse" aria-hidden="true"></i>
			<span class="off">Send via e-mail</span>
		</a>
		
		{% if page.comments != "off" %}
			<a title="Leave a comment" class="disqus social social-comment fa-stack fa-lg" href="#comments" rel="nofollow">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-comment fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Leave a comment</span>
			</a>
		{% endif %}
		
	</p>
	
</section>
