<!-- {{ nada.template }} -->

---

{% if nada.src %}

<figure>
	
	{% if nada.wrap %}<div class="{{ nada.wrap }}">{% endif %}<img src="{{ site.uploads }}{{ nada.src }}">{% if nada.wrap %}</div>{% endif %}
	
	{% if nada.caption %}
		
		<figcaption>{{ nada.caption | markdownify }}</figcaption>
		
	{% endif %}
	
</figure>

{% endif %}

{% if nada.src %}
<div>
	{{ nada.src }}, {{ nada.caption | markdownify }}, {{ nada.wrap }}
</div>
{% endif %}

**ddd** :octocat:

---

({% if nada.global %}{{ nada.global }}{% endif %}), ({% if nada.foo %}{{ nada.foo }}{% endif %})