---
layout: default
marker: archive
---

{% include marker.html %}

<dl class="archive"
	
	{% for page in site.posts %}
		
		{% assign m = page.date | date: '%B' %}
		{% capture nice %}{% case m %}{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ page.date | date: '%b' }}.{% endcase %}{% endcapture %}
		
		{% unless page.next %}
			><dt class="archive-month" id="{{ page.date | date: "%b-%Y" | downcase }}">{{ nice }}</dt
		{% else %}
			{% capture month %}{{ page.date | date: '%B' }}{% endcapture %}
			{% capture nmonth %}{{ page.next.date | date: '%B' }}{% endcapture %}
			{% if month != nmonth %}
				><dt class="archive-month" id="{{ page.date | date: "%b-%Y" | downcase }}">{{ nice }}</dt
			{% endif %}
		{% endunless %}
		
		{% unless page.next %}
			><dt class="archive-day" id="{{ page.date | date: "%b-%e-%Y" | downcase }}">{{ page.date | date: '%e' }}</dt
		{% else %}
			{% capture day %}{{ page.date | date: '%e' }}{% endcapture %}
			{% capture nday %}{{ page.next.date | date: '%e' }}{% endcapture %}
			{% if day != nday %}
				><dt class="archive-day" id="{{ page.date | date: "%b-%e-%Y" | downcase }}">{{ page.date | date: '%e' }}</dt
			{% endif %}
		{% endunless %}
		
		{% unless page.next %}
			><dt class="archive-year">{{ page.date | date: '%Y' }}</dt
		{% else %}
			{% capture year %}{{ page.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ page.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				><dt class="archive-year">{{ page.date | date: '%Y' }}</dt
			{% endif %}
		{% endunless %}
		
		><dd class="archive-item">
			<article>
				{% if page.external_url %}
					<h1 class="h5"><a href="{{ page.external_url }}">{{ page.title }}</a></h1>
				{% else %}
					<h1 class="h5"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>
				{% endif %}
				{% if page.deck %}
					<h2 class="h6">{{ page.deck }}</h2>
				{% endif %}
			</article>
		</dd
		
	{% endfor %}
	
></dl>
