---
layout: default
---

<h1 class="marker"><div><span>Archive</span></div></h1>

<dl class="archive">
	
	{% for post in site.posts %}
		
		{% unless post.next %}
			<dt class="archive-year">{{ post.date | date: '%Y' }}</dt>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<dt class="archive-year">{{ post.date | date: '%Y' }}</dt>
			{% endif %}
		{% endunless %}
		
		{% unless post.next %}
			<dt class="archive-month" id="{{ post.date | date: "%b-%Y" | downcase }}">{{ post.date | date: '%B' }}</dt>
		{% else %}
			{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
			{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
			{% if month != nmonth %}
				<dt class="archive-month" id="{{ post.date | date: "%b-%Y" | downcase }}">{{ post.date | date: '%B' }}</dt>
			{% endif %}
		{% endunless %}
		
		{% unless post.next %}
			<dt class="archive-day" id="{{ post.date | date: "%b-%e-%Y" | downcase }}">{{ post.date | date: '%e' }}</dt>
		{% else %}
			{% capture day %}{{ post.date | date: '%e' }}{% endcapture %}
			{% capture nday %}{{ post.next.date | date: '%e' }}{% endcapture %}
			{% if day != nday %}
				<dt class="archive-day" id="{{ post.date | date: "%b-%e-%Y" | downcase }}">{{ post.date | date: '%e' }}</dt>
			{% endif %}
		{% endunless %}
		
		<dd><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></dd>
		
	{% endfor %}
	
</dl>
