<!doctype html>
<html class="no-touch no-js no-blend" lang="en" dir="ltr">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script>/*! no-touch uglified | https://gist.github.com/mhulse/4704893 */!function(o,n,c){("ontouchstart"in o||o.DocumentTouch&&n instanceof DocumentTouch||c.MaxTouchPoints>0||c.msMaxTouchPoints>0)&&(n.documentElement.className=n.documentElement.className.replace(/\bno-touch\b/,"touch"))}(window,document,navigator);</script>
	<script>/*! no-js uglified | https://gist.github.com/mhulse/4704893 */!function(e){e.documentElement.className=e.documentElement.className.replace(/\bno-js\b/,"js")}(document);</script>
	<script>/*! no-blend uglified | https://gist.github.com/mhulse/6ec4db51a61eb958b82d */!function(e,n){e.getComputedStyle(n.head,null).mixBlendMode&&(n.documentElement.className=n.documentElement.className.replace(/\bno-blend\b/,"blend"))}(window,document);</script>
	
	<meta name="copyright" content="Copyright © 2013-{{ site.time | date: '%y' }} {{ site.name }}. All rights reserved.">
	
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	
	{% if site.gwt %}<meta name="google-site-verification" content="{{ site.gwt }}">{% endif %}
	{% if site.bwt %}<meta name="msvalidate.01" content="{{ site.bwt }}">{% endif %}
	
	<link rel="stylesheet" href="{{ site.theme }}{{ site.build }}styles/data.min.css">
	
	{% if page.head_extra %}{{ page.head_extra }}{% endif %}
	
	<script>!function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r,i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=+new Date,a=s.createElement(o),m=s.getElementsByTagName(o)[0],a.src=g,m.parentNode.insertBefore(a,m)}(this,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","{{ site.ga }}","mky.io");ga("send","pageview");</script>
	
	<style>
		
		.advert {
			text-align: center;
			position: relative;
			margin: 0 auto;
		}
		
		.advert * {
			font-size: 100%;
			font: inherit;
			border: 0;
			margin: 0 auto;
			padding: 0;
			outline: 0;
		}
		
		.advert img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			-ms-interpolation-mode: bicubic;
		}
		
	</style>
	
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	
	<header role="banner">
		
		<div><div><div>
			
			<h1>
				Michael A. Hulse
				<span>/</span>
				<span>Web Developer</span>
			</h1>
			
			<p><a href="https://goo.gl/maps/el7zX" target="_blank" rel="nofollow">Eugene, Or.</a></p>
			
			<p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#64;&#109;&#107;&#121;&#46;&#105;&#111;">&#109;&#64;&#109;&#107;&#121;&#46;&#105;&#111;</a></p>
			
		</div></div></div>
		
		<hr class="off">
		
		<nav role="navigation">
			
			<ul class="harmonia">
				
				<li>
					<span>Geekery</span>
					<ul>
						<li><a href="http://github.com/mhulse" target="_blank" rel="nofollow">@mhulse</a></li>
						<li><a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a></li>
						<li><a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">Stack</a></li>
					</ul>
				</li>
				
				<li>
					<span>Bookmarks</span>
					<ul>
						<li><a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
						<li><a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a></li>
						<li><a href="http://stackexchange.com/users/560173/mhulse?tab=favorites" target="_blank" rel="nofollow">Favorites</a></li>
					</ul>
				</li>
				
			</ul> <!-- /.harmonia -->
			
		</nav>
		
	</header>
	
	<hr class="off">
	
	<main role="main">
		
		<section>
			
			<h1></h1>
			
			{{ content }}
			
		</section>
		
	</main>
	
	<hr class="off">
	
	<div class="advert">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins
			class="adsbygoogle"
			style="display:inline-block;width:728px;height:90px"
			data-ad-client="ca-pub-4050402266500166"
			data-ad-slot="5085622731"
		></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>
	
	<script src="{{ site.theme }}{{ site.build }}scripts/data.min.js"></script>
	
	{% if page.footer_extra %}{{ page.footer_extra }}{% endif %}
	
</body>
</html>
