---
layout: default
---

{% include marker.html kind="category" %}

<hr>

{% for post in paginator.posts %}
	
	<article itemscope itemtype="http://schema.org/Article">
		
		{% include header.html item=post %}
		
		{% if post.image1 %}
			
			<figure>
				
				<a href="{{ site.url }}{{ post.url }}"><img src="{{ site.uploads }}/{{ post.image1.src }}"></a>
				
			</figure>
			
		{% endif %}
		
		{% include more.html %}
		
	</article>
	
	{% if forloop.last %}{% else %}<hr>{% endif %}
	
{% endfor %}

{% include pagination.html kind="category" %}
