<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
	
	<meta charset="utf-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width">
	
	{% if page.title %}
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta property="og:title" content="{{ page.title }}">
	{% else %}
		<title>{{ site.title }}</title>
		<meta property="og:title" content="{{ site.title }}">
	{% endif %}
	
	{% if page.deck %}
		<meta name="description" content="{{ page.deck | markdownify | strip_html | strip_newlines }}">
		<meta property="og:description" content="{{ page.deck | markdownify | strip_html | strip_newlines }}">
	{% else %}
		<meta name="description" content="{{ site.description }}">
		<meta property="og:description" content="{{ site.description }}">
	{% endif %}
	
	{% if page.tags %}
		<meta name="keywords" content="{{ page.tags | join: ',' }}">
	{% else %}
		<meta name="keywords" content="{{ site.keywords | join: ',' }}">
	{% endif %}
	
	{% if page.id %}
		<meta property="og:type" content="article">
	{% else %}
		<meta property="og:type" content="website">
	{% endif %}
	
	{% if page.image1 %}
		<meta property="og:image" content="{{ site.uploads }}/{{ page.image1.src }}">
		<link rel="image_src" href="{{ site.uploads }}/{{ page.image1.src }}">
	{% else %}
		<meta property="og:image" content="{{ site.url }}/apple-touch-icon-144x144-precomposed.png">
		<link rel="image_src" href="{{ site.url }}/apple-touch-icon-144x144-precomposed.png">
	{% endif %}
	
	<meta property="og:site_name" content="{{ site.title }}">
	
	{% if page.url %}
		<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
		<link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' }}">
	{% endif %}
	
	{% if page.date %}
		<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
		<meta http-equiv="date" content="{{ page.date | date: '%A, %d %Y %H:%M:%S GMT' }}">
	{% else %}
		<meta http-equiv="date" content="{{ site.time | date: '%A, %d %Y %H:%M:%S GMT' }}">
	{% endif %}
	
	{% for category in page.categories %}
		<meta property="article:section" content="{{ category }}">
	{% endfor %}
	
	{% for tag in page.tags %}
		<meta property="article:tag" content="{{ tag }}">
	{% endfor %}
	
	<meta name="robots" content="{{ page.index }}INDEX,{{ page.follow }}FOLLOW">
	
	<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="HandheldFriendly" content="true">
	
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/rss.xml" title="RSS Feed">
	<link rel="sitemap" type="application/xml" href="{{ site.url }}/sitemap.xml" title="Sitemap">
	
	<meta name="msapplication-TileImage" content="{{ site.url }}/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	{% if site.gwt %}
		<meta name="google-site-verification" content="{{ site.gwt }}">
	{% endif %}
	
	{% if site.bwt %}
		<meta name="msvalidate.01" content="{{ site.bwt }}">
	{% endif %}
	
	<!--[if !IE]><!-->
	<link rel="stylesheet" href="{{ site.theme }}{{ site.build }}/css/picard.min.css">
	<link rel="stylesheet" href="{{ site.fonts }}/hulse/hulse.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!--<![endif]-->
	
	<script>(function(a){a.className=a.className.replace(/\bno-js\b/,'js')}(document.documentElement))</script>
	
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	
	<header role="banner">
		
		<h1 id="flag"><a href="{{ site.url }}">M<span>KY.io</span></a></h1>
		
	</header>
	
	<hr>
	
	<nav role="navigation">
		
		<ul class="x3">{% for category in site.categories %}<li><a href="{{ site.url }}/category/{{ category | first | slugize }}/">{{ category | first }}</a></li>{% endfor %}</ul>
		
	</nav>
	
	<aside role="complementary">
		
		<section>
			
			<h1></h1>
			
			<form id="search" class="form" method="get" action="" role="search">
				
				<input type="hidden" name="sitesearch" value="{{ site.production.url }}">
				
				<label class="x4">
					<span class="off">Search:</span>
					<input id="query" type="search" name="q" placeholder="&hellip; search &hellip;" autocomplete="off" data-jse-options='{ "feed" : "/search.json" }'>
				</label>
				
			</form>
			
		</section>
		
	</aside>
	
	<hr>
	
	<main role="main">
		
		<section>
			
			{{ content }}
			
		</section>
		
	</main>
	
	<hr>
	
	<footer role="contentinfo">
		
		<ul>
			<li><i class="fa fa-github-alt" aria-hidden="true"></i> <a href="http://github.com/mhulse" target="_blank" rel="nofollow">GitHub</a> (<a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a>, <a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a>)</li>
			<li><i class="fa fa-stack-exchange" aria-hidden="true"></i> <a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">StackExchange</a></li>
			<li><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
		</ul>
		
		<p class="boring">
			<small><span>Copyright &copy; <a href="{{ site.url }}">mky.io</a> 2013-14.</span> <span>All rights reserved.</span></small>
			<small class="silly"><a href="http://en.wikipedia.org/wiki/Genetically_modified_organism" target="_blank" rel="nofollow">GMO</a>-, <a href="http://en.wikipedia.org/wiki/Gluten" target="_blank" rel="nofollow">gluten</a>- and <a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a>-free. :)</small>
		</p>
		
	</footer>
	
	<!--[if !IE]><!-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>if(!window.jQuery){document.write('<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"><\/script>');}</script>
	<script src="{{ site.theme }}{{ site.build }}/scripts/picard.min.js"></script>
	<!--<![endif]-->
	
	<script>
		(function(p,i,c,a,r,d){p.GoogleAnalyticsObject=a;p[a]||(p[a]=
		function(){(p[a].q=p[a].q||[]).push(arguments)});p[a].a=+new Date;
		r=i.createElement(c);d=i.getElementsByTagName(c)[0];
		r.src='//www.google-analytics.com/analytics.js';
		d.parentNode.insertBefore(r,d)}(window,document,'script','ga'));
		ga('create','UA-46485001-1');ga('send','pageview');
	</script>
	
</body>
</html>

<!-- Site last updated: {% assign m = site.time | date: "%B" %}{% case m %}{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ site.time | date: "%b" }}.{% endcase %} {{ site.time | date: "%-d" }}, {{ site.time | date: "%Y" }}. -->
