<!doctype html>
<html class="no-js">

<head>
	
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-title" content="MKY.io">
	
	<title>{{ page.title }} | {{ site.name }}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!--[if !IE]><!-->
	
	<link rel="stylesheet" href="//mky.io/picard{{ site.build }}/css/picard.min.css">
	<link rel="stylesheet" href="//fonts.mky.io/hulse/hulse.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
	<!--<![endif]-->
	
	<script>/*! rgne.ws/WnP50T */;(function(a){a.className=a.className.replace(/\bno-js\b/,'js')}(document.documentElement));</script>
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//mky.io/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//mky.io/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//mky.io/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="//mky.io/apple-touch-icon-57x57-precomposed.png">
	<link rel="shortcut icon" href="//mky.io/favicon.ico">
	<meta name="msapplication-TileImage" content="//mky.io/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	<link rel="image_src" href="//mky.io/apple-touch-icon-144x144-precomposed.png">
	
	<meta name="google-site-verification" content="hFQuXLW_jYcL7blZAbUFoAVZWMnRZdYKH7hnducJvDE">
	<meta name="msvalidate.01" content="B46559147E88568614EBEBCB2BEF258C">
	
	<link rel="canonical" href="{{ page.url }}">
	
</head>
<body>
	
	<header role="banner">
		
		<h1 id="flag"><a href="http://mky.io">M<span>KY.io</span></a></h1>
		
	</header>
	
	<hr>
	
	<nav role="navigation">
		
		<ul class="x3">{% for category in site.categories %}<li><a href="/{{ category | first | slugize }}/">{{ category | first }}</a></li>{% endfor %}</ul>
		
	</nav>
	
	<aside role="complementary">
		
		<section>
			
			<h1></h1>
			
			<form class="form" method="get" action="" role="search">
				
				<label class="x4">
					<span class="off">Search:</span>
					<input type="search" name="s" placeholder="&hellip; search &hellip;">
				</label>
				
			</form>
			
		</section>
		
	</aside>
	
	<hr>
	
	<main role="main">
		
		{{ content }}
		
	</main>
	
	<hr>
	
	<footer role="contentinfo">
		
		<ul>
			<li><i class="fa fa-github-alt" aria-hidden="true"></i> <a href="http://github.com/mhulse" target="_blank" rel="nofollow">GitHub</a> (<a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a>, <a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a>)</li>
			<li><i class="fa fa-stack-exchange" aria-hidden="true"></i> <a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">StackExchange</a></li>
			<li><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
		</ul>
		
		<p class="boring">
			<small><span>Copyright &copy; <a href="http://mky.io">mky.io</a> 2013-14.</span> <span>All rights reserved.</span></small>
			<small class="silly"><a href="http://en.wikipedia.org/wiki/Genetically_modified_organism" target="_blank" rel="nofollow">GMO</a>-, <a href="http://en.wikipedia.org/wiki/Gluten" target="_blank" rel="nofollow">gluten</a>- and <a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a>-free.</small>
		</p>
		
	</footer>
	
	<!--[if !IE]><!-->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>if(!window.jQuery){document.write('<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"><\/script>');}</script>
	<script src="//mky.io/picard{{ site.build }}/scripts/picard.min.js"></script>
	
	<!--<![endif]-->
	
	<script>
		(function(p,i,c,a,r,d){p.GoogleAnalyticsObject=a;p[a]||(p[a]=
		function(){(p[a].q=p[a].q||[]).push(arguments)});p[a].a=+new Date;
		r=i.createElement(c);d=i.getElementsByTagName(c)[0];
		r.src='//www.google-analytics.com/analytics.js';
		d.parentNode.insertBefore(r,d)}(window,document,'script','ga'));
		ga('create','UA-46485001-1');ga('send','pageview');
	</script>
	
</body>
</html>

<!-- Site last updated: {% assign m = site.time | date: "%B" %}{% case m %}{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ site.time | date: "%b" }}.{% endcase %} {{ site.time | date: "%-d" }}, {{ site.time | date: "%Y" }}. -->
