<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
	
	{% include head.html %}
	
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	
	{% include flag.html %}
	
	{% include navigation.html %}
	
	{% include search.html %}
	
	<main role="main">
		
		<section>
			
			{{ content }}
			
		</section>
		
	</main>
	
	{% include footer.html %}
	
	{% include scripts.html %}
	
</body>
</html>

<!-- Site last updated: {% assign m = site.time | date: "%B" %}{% case m %}{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ site.time | date: "%b" }}.{% endcase %} {{ site.time | date: "%-d" }}, {{ site.time | date: "%Y" }}. -->
