---
layout: base
---

<div id="primary">
	
	<h2 id="projects"><span>Projects</span></h2>
	
	<div class="ui-accordion-content">
		
		<div id="secondary">
			
			{% for page in paginator.posts %}
				
				{% capture content %}{{ page.content | strip_html }}{% endcapture %}
				{% capture off %}{% strip %}{% include date.html %} | {% if page.deck %}{{ page.deck }}{% if content != "" %}: {% endif %}{% endif %}{{ content }}{% endstrip %}{% endcapture %}
				
				<h3 id="{{ page.url | remove: "/" | remove: ".html" }}" data-href="{{ page.url | remove_first: "/" }}"><span><span>{{ page.title }}</span></span></h3>
				{% if off != "" %}<div class="off">{{ off }}</div>{% endif %}
				
			{% endfor %}
			
		</div> <!-- /#secondary -->
		
	</div>
	
</div> <!-- /#primary -->
