---
layout: default
---

<article{% if page.schema %} itemscope itemtype="http://schema.org/{{ page.schema }}"{% endif %}>
	
	<!-- {% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read. -->
	
	<header>
		
		<hgroup>
			<h3 class="label"><a href="#">Category Label</a></h3>
			<h4 class="pub"><a href="#"><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" pubdate itemprop="datePublished">{{ page.date | date_to_string }}</time></a></h4>
			{% if page.title %}<h1 class="h1" itemprop="headline">{{ page.title }}</h1>{% endif %}
			{% if page.deck %}<h2 class="sh3">{{ page.deck }}</h2>{% endif %}
		</hgroup>
		
	</header>
	
	<hr>
	
	<div class="body" itemprop="articleBody">
		
		{{ content }}
		
	</div>
	
	<hr>
	
	<footer>
		
		<p class="x5 meta">This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#">November 6, 2013</a>. Bookmark the <a href="#">permalink</a> or copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></p>
		
		<ul class="x3 meta">
			<li>This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#"><time pubdate datetime="2013-12-26T14:33:45-08:00"><!--2:33 p.m., -->Nov. 6, 2013</time></a>.</li>
			<li>Bookmark the <a href="#">permalink</a>.</li>
			<li>Copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></li>
		</ul>
		
	</footer>
	
	<hr>
	
	<section>
		
		<h1></h1>
		
		<p>
			
			<a class="social social-twitter fa-stack fa-lg" target="_blank" href="https://twitter.com/intent/tweet?text=YOUR-TITLE&amp;url=YOUR-URL&amp;via=TWITTER-HANDLE">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Tweet this</span>
			</a>
			
			<a class="social social-facebook fa-stack fa-lg" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=YOUR-URL">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Share on Facebook</span>
			</a>
			
			<a class="social social-google-plus fa-stack fa-lg" target="_blank" href="https://plus.google.com/share?url=YOUR-URL">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Plus on Google+</span>
			</a>
			
			<a class="social social-linkedin fa-stack fa-lg" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=YOUR-URL&amp;title=YOUR-TITLE&amp;summary=YOUR-SUMMARY&amp;source=YOUR-URL">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Share on LinkedIn</span>
			</a>
			
			<a class="social social-vk fa-stack fa-lg" target="_blank" href="https://vk.com/share.php?url=YOUR-URL&amp;title=YOUR-TITLE&amp;description=YOUR-DESCRIPTION&amp;image=YOUR-IMAGE-SRC&amp;noparse=true">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-vk fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Share on VK</span>
			</a>
			
			<a class="social social-xing fa-stack fa-lg" target="_blank" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=YOUR-URL">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-xing fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Share on Xing</span>
			</a>
			
			<a class="social social-tumblr fa-stack fa-lg" target="_blank" href="http://www.tumblr.com/share?v=3&amp;u=YOUR-URL&amp;t=YOUR-TITLE">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-tumblr fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Share on Tumblr</span>
			</a>
			
			<a class="social social-email fa-stack fa-lg" target="_blank" href="mailto:EMAIL_RECIPIENT?subject=EMAIL_SUBJECT&amp;body=EMAIL_BODY">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-envelope fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Send via e-mail</span>
			</a>
			
			<a class="disqus social social-comment fa-stack fa-lg" href="#comments">
				<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i><i class="fa fa-comment fa-stack-1x fa-inverse" aria-hidden="true"></i>
				<span class="off">Leave a comment</span>
			</a>
			
		</p>
		
	</section>
	
	<hr class="off">
	
	<section id="comments">
		
		<h1></h1>
		
		<div id="disqus">
			
			<p class="callout callout-warning">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i> The owner of this site doesn't necessarily condone the comments here, nor do they review every post.
				<br>
				<b><a href="http://help.disqus.com/customer/portal/topics/215154/articles" target="_blank">Not seeing your comment</a></b>? Disqus users, <b><a href="http://help.disqus.com/customer/portal/articles/960202-verifying-your-disqus-account" target="_blank">have you verified your account</a></b>?
			</p>
			
			<div id="disqus_thread" class="x6" data-disqus='{"shortname" : "mhulse", "url" : "http://git.local/mhulse/picard/dev/"}'></div>
			
		</div>
		
	</section>
	
</article>
