---
layout: base
---

<div id="primary">
	
	<h2 id="projects"><span>Projects</span></h2>
	
	<div class="ui-accordion-content">
		
		<div id="secondary">
			
			{% for post in paginator.posts %}
				
				{% capture content %}{% strip %}{{ post.content | strip_html }}{% endstrip %}{% endcapture %}
				{% capture off %}{% if post.deck %}{% strip %}{{ post.deck }}{% endstrip %}{% if content != "" %}: {% endif %}{% endif %}{{ content }}{% endcapture %}
				
				<h3 id="{{ post.url | remove: "/" | remove: ".html" }}" data-href="{{ post.url | remove_first: "/" }}"><span><span>{{ post.title }}</span></span></h3>
				{% if off != "" %}<div class="off">{{ off }}</div>{% endif %}
				
			{% endfor %}
			
		</div> <!-- /#secondary -->
		
	</div>
	
</div> <!-- /#primary -->
