---
layout: default
---

{% if page.taxonomy %}
	
	{% case page.taxonomy %}
		{% when "tags" %}
			{% assign target = "tag" %}
		{% when "categories" %}
			{% assign target = "category" %}
	{% endcase %}
	
	{% if target %}
		
		{% include marker.html %}
		
		{% assign taxa = site.[page.taxonomy] %}
		
		<ul class="cloud x6">{% for taxon in taxa %}<li><a href="{{ site.url }}{{ target }}/{{ taxon | first }}/" title="{% assign count = taxon | last | size %}{{ count }} post{% if count > 1 %}s{% endif %}" rel="{{ target }}" style="font-size:{{ taxon | last | size | times: 500 | divided_by: taxa.size | plus: 150 }}%;">{{ taxon | first }}</a></li>{% endfor %}</ul>
		
	{% endif %}
	
{% endif %}
